form {
  width: 400px;
  margin: 0 auto;
}

form h2 {
  text-align: center;
}

.send {
  cursor: pointer;
  position: relative;
  left: 40%;
  margin-top: 20px;
}

label {
  margin-bottom: 0px;
  margin-top: 15px;
}

.alert-success {
  padding: 5px;
  margin-top: 10px
}
.red {
  color: red;
}
.alert-dismissible{
  width: auto;
}
